.rbc-calendar {
  .rbc-time-view {
    border: none;
  }
}

.rbc-toolbar {
  display: none;
}

.rbc-row-segment {
  .rbc-event {
    width: 95%;
  }
}

.rbc-event,
.rbc-day-slot .rbc-event {
  background-color: #f09200;
  border: none;
}

.rbc-time-header-content {
  border: none;
  .rbc-row.rbc-time-header-cell {
    min-height: 84px;
    border: none;
    .rbc-header {
      z-index: 10;
      border: none;
    }
  }

  .rbc-allday-cell {
    max-height: 62px;
    overflow: hidden;

    .rbc-event {
      height: 20px;
      font-size: 12px;
      border-radius: 6px;
    }
  }
}

.rbc-time-content {
  .rbc-time-gutter {
    .rbc-timeslot-group {
      border: none;
      .rbc-time-slot {
        position: relative;
      }
      .rbc-label {
        color: #444746;
        font-size: 11px;
        position: relative;
        top: -13px;
      }
    }
  }
  .rbc-day-slot.rbc-time-column {
    .rbc-time-slot {
      border: none;
    }
  }
}

.rbc-current-time-indicator {
  background-color: #db372c;
  height: 2px;
}

.rbc-current-time-indicator::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #db372c;
  position: absolute;
  left: -7px;
  top: -5px;
  border-radius: 50%;
}
