@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
  /* color */
  --color-gray-90: #1f1f1f;
  --color-gray-60: #444746;
  --color-primary: #0a52c4;

  /* fonts */
  --font-sans: "Product Sans Light", sans-serif;

  /* breackpoint */
  --breakpoint-sm: 600px;
}
